.group {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.group-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.group-header h2 {
    margin: 0;
    flex-grow: 1;
}
.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.info-item p {
    margin-right: 10px;
}
.info-item input {
    flex-grow: 1;
}
