﻿*{
margin:0px;
}

.clear { clear: both }

html, body {
    padding: 0;
}

.h3,
h3 { font-size: 16px!important }

.headerPane
{
    border-top: solid 10px #9c1010;
    padding-top: 10px;
}

.headerPane .container
{
    height: 100px;
    padding-bottom: 10px;
}

.headerPane .container a
{
    padding-left: 20px;
}

.topMenu
{
    min-height: 20px;
    width: 100%;
    background-color: #F8F8F8;
    box-shadow: 0px -5px 10px #9C1010;
}
.topMenuExpandBar
{
    background-color: #F8F8F8;
    width: 100%;
    box-shadow: 0px -5px 10px #9C1010;
}
.topmenuItemStyle
{
    font-size: medium;
    background-color: #F8F8F8;
    font-weight: bold;
}
.wrapText
{
    white-space:normal;
    word-wrap:break-word;  
}

/*--------------------------------------Back To Top------------*/
.btnBackToTop {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 30px;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}

    .btnBackToTop i {
        font-size: 60px;
        color: #c7c7c7;
    }

        .btnBackToTop i:hover {
            color: #e0e0e0;
        }

/*--------------------------------------BreadCrumb------------*/
.breadCrumbPanel
{
    padding-top: 10px;
    padding-bottom: 30px;
}

#breadCrumb {
    width: 100%;
    float: left;
}
#breadCrumb ul,
#breadCrumb li {
    list-style-type: none;
    margin: -5px;
    margin-left: -20px;
}
#breadCrumb li a {
    height: 25px;
    display: block;
    float: left;
    font: 400 14px/25px arial;
    background: #eceeed;
    padding: 0 5px;
    white-space: nowrap;
}
#breadCrumb .cap1 li { float: left }
.breadCrumbList li.start a {
    border-left: 3px solid #9f224e;
    padding: 0 8px;
    color: #9f224e;
    font-weight: 700;
}
.muiTen1
{
    background: url('Images/icon_total_01.png') no-repeat -287px -45px;
    width: 13px;
    height: 25px;
    display: block;
    float: left;
}
#breadCrumb .cap2 li { float: left }
.breadCrumbList li.cap2 a { background: #d3d3d3!important }
.muiTen2 
{
    background: url('Images/icon_total_01.png') no-repeat -287px -70px;
    width: 13px;
    height: 25px;
    display: block;
    float: left;
}


/*--------------------------------------------contentPanel*/
.contentPanel
{
    width:100%;
}

.statusBar
{
    padding: 5px; 
    position: fixed; 
    width: 100%; 
    z-index: 9000; 
    top: 0px; 
    left: 0px;
}

/*--------------------------------------------leftMenu*/

.l39contentLeft ul { padding-left: 0 }
.l39contentLeft ul li {
    position: relative;
    padding-left: 10px;
    display: block;
}
.l39contentLeft ul li a:hover {
    background: #ebebeb!important;
    color: #9e100e;
}
.l39contentLeft ul .cosub:hover ul { display: block }
.l39contentLeft ul li ul li { background: none }
.l39contentLeft ul li ul {
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
}
.l39contentLeft ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 7px;
    border-bottom: 1px solid #ccc;
    line-height: 2;
    font-size: 1em!important;
}
.l39contentLeft h3 {
    font-weight: bold;
    text-align: center;
    color: #8c1515;
    margin-top: 5px !important;
    text-transform: uppercase;
}
.l39LeftMain {
    background: #f2f1eb;
    padding: 10px;
    font-size: 13px;
}
.siteMap li:hover .subSitemap { display: block }
.page-header{
	color: #8c1515;
	border-bottom: 1px solid #8c1515 !important;
	margin: 15px 0 10px !important;
}
.dropdown-toggle:hover{color:#FFF !important;}
.col-md-3 a, .baivietlienquan{color: #111;}

.LeftMenuExpandBar
{
    position: absolute;
    top: 110px;
    left: 5px;
    z-index: 2;
    visibility: visible;
}
.cosub
{
    position: relative;
    padding-left: 15px;
    display: block;
    background: url('Images/right-arrow.png') no-repeat 0 16px;
}
/*--------------------------------------------MainContent*/
.MainContentTitle
{
    padding: 5px; 
    width:100%; 
}

.MainContentTitle H3
{
    font-weight: bold;
    text-align: center;
    color: #8c1515;
    margin-top: 5px !important;
    text-transform: uppercase;
}

.MainContent
{
    padding: 5px;
}

.Title
{
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: bold;
    color: #8c1515;
    vertical-align: middle;
    line-height: 2em;
}

.normalText
{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 2em;
}

.row hr
{
    line-height: 4px;
    border: 3px solid #FF9900;
    display: block;
    width: 80%;
}

.center
{
    text-align: center;
}

.center a
{
    color: #0000FF;
    text-decoration: underline;
}

        @media all and (max-width: 600px) {
            .FlowCard {
                width: 270px !important;
                height: 650px !important;
            }
        }
.text-bold-primary
{
    color: #9C1010;
    font-weight: bold;
}

.bg-CTT
{
    background-color: #9C1010;
    color: #FFFFFF;
}






/*--------------------------------------------footer*/
.footer {
    width: 100%;
    float: left;
}
.footerMain
{
    width: 100%;
    float: left;
    background: url('Images/footer.jpg') no-repeat top;
    height: 100px;
}
.footerMain a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: .5;
}
.footerLeft {
    width: 40%;
    float: left;
    margin: 2%;
}
.footerRight
{
    width: 35%;
    float: right;
    text-align: right;
    margin-right: 5%;
    color: #fff;
}
.footerRight p,
.footerRight hr { line-height: 1px }
.footerRight hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}


/*--------------------------------------------Login*/


.LoginForm
{
    box-sizing: border-box;
    width: 90%;
    margin: 0px auto 60px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    border-radius: 3px;
}
.LoginForm h2 {
  box-sizing: border-box;
  padding: 20px;
  color: #8c1515;
}
 
.LoginTextInput {
  margin: 10px 25px;
  width: 70%;

  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  color: #0e6252;
}

.LoginTextInput:hover 
{
      border-bottom: solid 1px #BC1A3C;
}

.LoginTextInput:focus, .Textboxinput:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.LoginTextInput:focus::-webkit-input-placeholder, LoginTextInput:valid::-webkit-input-placeholder {
  visibility: visible !important;
}
.LoginTextInput .dxeEditArea 
{
    width: 100%;
}
 
.LoginButton {
  border: none;
  background: #8c1515;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.LoginButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}


/*---------------------------------Notification */


/*---------------------------------TreeView */
.dxtv-subnd
{
    margin-left: 0px !important;
}

/*--------------------------------------------Mulberry*/
.dxmLite_Mulberry
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #343434;
}

.dxmLite_Mulberry .dxm-horizontal
{
	padding: 2px;
}
.dxmLite_Mulberry .dxm-main
{
	background-color: #E7E9ED;
}

.dxm-ltr .dxm-main,
.dxm-ltr .dxm-horizontal ul.dx 
{
	float: left;
}
.dxm-main
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dxmLite_Mulberry .dxm-content
{
	display: block;
	white-space: nowrap;
}

.dxm-ltr .dxm-horizontal .dxm-item,
.dxm-ltr .dxm-horizontal .dxm-spacing,
.dxm-ltr .dxm-horizontal .dxm-separator,
.dxm-ltr .dxm-content
{
	float: left;
}
.dxm-content.dxm-hasText
{
	line-height: 100%;
}

.dxm-content
{
	line-height: 0;
}

.dxm-content {
	font: 12px Tahoma, Geneva, sans-serif;
	float: none !important;
}

.dx-vam, .dx-valm { vertical-align: middle; }
.dx-vam, .dx-vat, .dx-vab { display: inline-block!important; }
.dxmLite_Mulberry .dxm-horizontal .dxm-spacing
{
	width: 2px;
	height: 1px;
}

.dxm-popOut,
.dxm-spacing,
.dxm-separator,
.dxm-separator b 
{
	font-size: 0;
	line-height: 0;
	display: block;
}
.dxm-horizontal .dxm-ami .dxm-content
{
    overflow: hidden!important;
    padding-left: 0!important;
    padding-right: 0!important;
    width: 0px!important;
}
.dxmLite_Mulberry.dxm-ltr .dxm-dropDownMode .dxm-popOut
{
	border: Solid 1px transparent;
}
.dxm-horizontal .dxm-ami .dxm-popOut
{
    border-top: 0!important;
    border-right: 0!important;
    border-bottom: 0!important;
    border-left: 0!important;
}

.dxm-ltr .dxm-horizontal .dxm-popOut,
.dxm-rtl .dxm-horizontal .dxm-image-l .dxm-popOut
{
	float: right;
}
.dxm-popOut /*Bootstrap correction*/
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.dx-clear
{
	display: block;
	clear: both;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}

.dxmLite_Mulberry .dxm-content {
    font: 1em Tahoma, Geneva, sans-serif;
    float: none !important;
}

.dxmLite_Mulberry.dxm-ltr .dxm-popup .dxm-noImages .dxm-item{
    padding-left: 6px;
    width: 300px;
}


.dxgvHeader, .dxgvHeader table
{
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #9C1010;
}